<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Peer Review</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicons -->
    <link href="../../../assets/img/favicon.png" rel="icon">
    <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <!--    <link href="../../assets/css/style.css" rel="stylesheet">-->

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap 5 -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../../../assets/css/custom.css"/>

    <title>Work Items</title>
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="header.html :: header"></div>
<!-- End Header -->

<div class="container-fluid px-0">

    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center ">
                <h2>Draft Item</h2>
                <ol>
                    <!--                    <li><a th:href="@{'/peerreview/' + ${item.getId()} + '/comments'}">Add Comment</a></li>-->
                    <li th:if="${item.getCreator().getUsername()} == ${session.currentUser}">
                        <a th:href="@{'/peerreview/items/convertDraft=' + ${item.getId()}}">Convert
                            to WorkItem</a></li>
                    <li th:if="${item.getCreator().getUsername()} == ${session.currentUser}">
                        <a th:href="@{'/peerreview/items/updateDraft=' + ${item.getId()}}">Update
                            WorkItem</a></li>
                    <li th:if="${item.getCreator().getUsername()} == ${session.currentUser}">
                        <a th:href="@{'/peerreview/' + -1 + '/items/delete=' + ${item.getId()}}">Delete
                            WorkItem</a></li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->


    <section class="inner-page">
        <div class="container">

            <div class="card bg-dark ">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center">
                        <a th:text="${item.getTitle()}" style="align-content: center">Item title></a>
                    </h2>
                    <h4 class="card-subtitle " style="text-align: center">
                        <a th:text="#{item.creator} + '`' + ${item.getCreator().getUsername()}  + '`' + ' on ' + ${#temporals.format(item.getDateTime(), 'dd-MM-yyyy HH:mm')}"></a><br>
                    </h4>
                    <div class="card-body">
                        <h4 class="card-subtitle">
                           <textarea type="text" id="description" name="description" rows="4" class="form-control"  th:text=" ${item.getDescription()}"
                                     placeholder="Description" ></textarea>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div th:replace="create-comment.html :: commentFragment"></div>
                    <div th:class="${item.getComments().isEmpty()} ? 'd-none' : 'card bg-dark'">
                        <span style="text-align: center">Comments</span>
                        <div class="card-body" th:each="comment : ${comments}">
                            <h4 class="card-text">
                                <span th:text="${comment.getComment()}"></span><br>
                                <h6 class="card-text">
                                    <span th:text="'written by `' +${comment.getCommentCreator().getUsername()} + '`'"></span>
                                </h6>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h4 class="card-text">
                                <form method="POST"
                                      th:action="@{/peerreview/{teamId}/items/upload/{param}(param=${item.getId()}, teamId=${item.getTeam() != null} ? ${item.getTeam().getId()} : '-1')}"
                                      enctype="multipart/form-data">
                                    <div class="input-group mb-3">
                                        <input type="file" name="file" class="form-control" placeholder="Upload file"
                                               aria-label="Upload file"
                                               aria-describedby="basic-addon1">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-success" type="submit" value="Upload">
                                                Upload
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </h4>
                        </div>
                    </div>
                    <div class="card bg-dark">
                        <div class="card-body" th:each="file : ${files}">
                            <h4 class="card-text">
                                <img th:src="@{'../../items-files/' + ${item.getId()} + '/' + ${file.getName()} }"/>
                                <span th:text="${file == null} ? 'No files':( ${file.getName()} )"></span>
                                <br>
                                <a th:href="'../../peerreview/-1/items/download/' + ${item.getId()} + '~' + ${file.getName()}"
                                   class="btn btn-primary">Download</a>
                                <a th:href="'../../peerreview/-1/items/delete/' + ${item.getId()} + '~' + ${file.getName()}"
                                   class="btn btn-danger">Delete</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>

<!-- Light Switch -->
<script src="../../../assets/js/switch.js"></script>


<!-- Vendor JS Files -->
<script src="../../../assets/vendor/aos/aos.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../../assets/vendor/typed.js/typed.min.js"></script>

<!-- Template Main JS File -->
<script src="../../../assets/js/main.js"></script>

</body>

</html>
