<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ======= Header ======= -->
<header th:fragment="header" id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <a th:href="@{/}" class="logo mr-auto">
            <img th:src="${'../assets/img/logo.png' ne null} ? (${'../../assets/img/logo.png' ne null}  ? ${'../../../assets/img/logo.png' })"
                 alt=""></a>
        <!--            <img th:src="${ != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}" alt=""></a>-->
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->

        <nav id="navbar" class="navbar">
            <ul>

                <li class="dropdown"><a href="#"><span>Teams</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a th:href="@{/teams/team}">Teams</a></li>
                        <li><a th:href="@{/teams/allOwnerTeams}">View Teams</a></li>
                        <li><a th:href="@{/teams/new}">Create Team</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#"><span>WorkItems</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a th:href="@{/peerreview/items/user}">All Items</a></li>
                        <li><a th:href="@{/peerreview/items/user/forReview}">For Review</a></li>
                        <li><a th:href="@{/peerreview/items/user/pending}">All Pending</a></li>
                        <li><a th:href="@{/peerreview/items/draft}">Create Draft</a></li>
                        <li><a th:href="@{/peerreview/items/drafts}">View Drafts</a></li>
                    </ul>
                </li>


                <!-- profile add -->

                <!-- <ul class="d-flex align-items-center">-->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0 show" href="#"
                       data-bs-toggle="dropdown">
                        <img th:src="@{${user.photosImagePath}}" style="width: 40px"

                             class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${session.currentUser}"
                              th:if="${isAuthenticated}">Guest</span></a>
                    <!--
                                        End Profile Image Icon -->


                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile bxs-hide">

                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/users/profile}" href="#">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <!-- LIGHT SWITCH -->
                            <div class="d-flex">
                                <div class="form-check form-switch ms-auto mt-3 me-3">
                                    <label class="form-check-label ms-3" for="lightSwitch">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="25"
                                                height="25"
                                                fill="currentColor"
                                                class="bi bi-brightness-high"
                                                viewBox="0 0 16 16"
                                        >
                                            <path
                                                    d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                                            />
                                        </svg>
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="lightSwitch"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/auth/logout}" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>
</body>
</html>