<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Peer Review</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Imperial - v5.6.1
  * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
   <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="assets/img/logo.png" alt="Imperial">
        </div>

        <h1>Welcome to Peer Review</h1>
        <h2>We are managing <span class="typed" data-typed-items="enterprise solutions, functional WorkingItems, task resolving"></span></h2>
        <div class="actions">
          <a th:href="@{/auth/register}" class="btn-get-started">Get Started</a>
          <a th:href="@{/auth/login}"  class="btn-services">Login</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
<!--  <header id="header" class="d-flex align-items-center">-->
<!--    <div class="container d-flex align-items-center justify-content-between">-->

<!--      &lt;!&ndash;<a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->
<!--     Uncomment below if you prefer to use a text logo &ndash;&gt;-->
<!--      &lt;!&ndash; <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> &ndash;&gt;-->

<!--      <nav id="navbar" class="navbar">-->
<!--        <ul>-->
<!--          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#about">About</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#services">Services</a></li>-->
<!--          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#team">Team</a></li>-->
<!--          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
<!--        </ul>-->
<!--        <i class="bi bi-list mobile-nav-toggle"></i>-->
<!--      </nav>&lt;!&ndash; .navbar &ndash;&gt;-->

<!--    </div>-->
<!--  </header>&lt;!&ndash; End Header &ndash;&gt;-->

<!--    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">-->

<!--      <div class="carousel-inner" role="listbox">-->

<!--        &lt;!&ndash; Slide 1 &ndash;&gt;-->
<!--        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">-->
<!--          <div class="carousel-container">-->
<!--            <div class="carousel-content animate__animated animate__fadeInUp">-->
<!--              <h2>Welcome to <span>Company</span></h2>-->
<!--              <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>-->
<!--              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Slide 2 &ndash;&gt;-->
<!--        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">-->
<!--          <div class="carousel-container">-->
<!--            <div class="carousel-content animate__animated animate__fadeInUp">-->
<!--              <h2>Lorem Ipsum Dolor</h2>-->
<!--              <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>-->
<!--              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Slide 3 &ndash;&gt;-->
<!--        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">-->
<!--          <div class="carousel-container">-->
<!--            <div class="carousel-content animate__animated animate__fadeInUp">-->
<!--              <h2>Sequi ea ut et est quaerat</h2>-->
<!--              <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>-->
<!--              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">-->
<!--        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>-->
<!--      </a>-->

<!--      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">-->
<!--        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>-->
<!--      </a>-->

<!--      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>-->

<!--    </div>-->
  </section><!-

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">About Us</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Peer Review is a place, where every one of You can find your own place. To invite friend or professionals in their field.</p>
          </div>
        </div>
      </div>
      <div class="container about-container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">

          <div class="col-lg-6 about-img">
            <img src="assets/img/about-img.jpg" alt="">
          </div>

          <div class="col-md-6 about-content">
            <h2 class="about-title">We will give You your Peer Review Place</h2>
            <p class="about-text">
            We realize that every person need to find your own PeerPlace. Our team has created a Peer Review Place for everyone.
            </p>
            <p class="about-text">
              Here you will find your Peer Place. To create your own team, where You can create your personal and professional working items.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container">
        <div class="row" data-aos="fade-up">
          <div class="col-md-12">
            <h3 class="section-title">Our Services</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Here you can see our services for You!</p>
          </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="service-title"><a href="">CREATE YOUR OWN TEAM</a></h4>
            <p class="service-description">You create your team and You can invite friend. You can create your work item to review</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="service-title"><a href="">INVITE MEMBER</a></h4>
            <p class="service-description">You can invite friends or best specialists into your work items field.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="service-title"><a href="">ADD REVIEWERS</a></h4>
            <p class="service-description">You choose, who will be your reviewers.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="service-title"><a href="">CREATE OWN WORK ITEM</a></h4>
            <p class="service-description">You have the possibility to create your own working items.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="service-title"><a href="">TO BE REVIEWER</a></h4>
            <p class="service-description">Here you can give your comments to other users.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="service-title"><a href="">SEE YOUR WORK ITEMS VERSIONS</a></h4>
            <p class="service-description">When you change your work item, the last version of it will be saved and visible.</p>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

<!--    &lt;!&ndash; ======= Subscrbe Section ======= &ndash;&gt;-->
<!--    <section id="subscribe">-->
<!--      <div class="container" data-aos="fade-up">-->
<!--        <div class="row">-->
<!--          <div class="col-md-8">-->
<!--            <h3 class="subscribe-title">Subscribe For Updates</h3>-->
<!--            <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>-->
<!--          </div>-->
<!--          <div class="col-md-4 subscribe-btn-container">-->
<!--            <a class="subscribe-btn" href="#">Subscribe Now</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>&lt;!&ndash; End Subscrbe Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Portfolio Section ======= &ndash;&gt;-->
<!--    <section id="portfolio">-->
<!--      <div class="container" data-aos="fade-up">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <h3 class="section-title">Portfolio</h3>-->
<!--            <div class="section-title-divider"></div>-->
<!--            <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--          <div class="col-lg-12 d-flex justify-content-center">-->
<!--            <ul id="portfolio-flters">-->
<!--              <li data-filter="*" class="filter-active">All</li>-->
<!--              <li data-filter=".filter-app">App</li>-->
<!--              <li data-filter=".filter-card">Card</li>-->
<!--              <li data-filter=".filter-web">Web</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row portfolio-container">-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>App 1</h4>-->
<!--              <p>App</p>-->
<!--              <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Web 3</h4>-->
<!--              <p>Web</p>-->
<!--              <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>App 2</h4>-->
<!--              <p>App</p>-->
<!--              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Card 2</h4>-->
<!--              <p>Card</p>-->
<!--              <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Web 2</h4>-->
<!--              <p>Web</p>-->
<!--              <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>App 3</h4>-->
<!--              <p>App</p>-->
<!--              <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Card 1</h4>-->
<!--              <p>Card</p>-->
<!--              <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Card 3</h4>-->
<!--              <p>Card</p>-->
<!--              <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Web 3</h4>-->
<!--              <p>Web</p>-->
<!--              <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bi bi-plus"></i></a>-->
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Portfolio Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Testimonials Section ======= &ndash;&gt;-->
<!--    <section id="testimonials">-->
<!--      <div class="container" data-aos="fade-up">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <h3 class="section-title">Testimonials</h3>-->
<!--            <div class="section-title-divider"></div>-->
<!--            <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--          <div class="col-md-3">-->
<!--            <div class="profile">-->
<!--              <div class="pic"><img src="assets/img/client-1.jpg" alt=""></div>-->
<!--              <h4>Saul Goodman</h4>-->
<!--              <span>Lawless Inc</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-9">-->
<!--            <div class="quote">-->
<!--              <b><img src="assets/img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="assets/img/quote_sign_right.png" alt=""></small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--          <div class="col-md-9">-->
<!--            <div class="quote">-->
<!--              <b><img src="assets/img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="assets/img/quote_sign_right.png" alt=""></small>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-3">-->
<!--            <div class="profile">-->
<!--              <div class="pic"><img src="assets/img/client-2.jpg" alt=""></div>-->
<!--              <h4>Sara Wilsson</h4>-->
<!--              <span>Odeo Inc</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Testimonials Section &ndash;&gt;-->

    <!-- ======= Team Section ======= -->
<!--    <section id="team">-->
<!--      <div class="container" data-aos="fade-up">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <h3 class="section-title">Our Team</h3>-->
<!--            <div class="section-title-divider"></div>-->
<!--            <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--          <div class="col-md-3">-->
<!--            <div class="member">-->
<!--              <div class="pic"><img src="assets/img/team/team-1.jpg" alt=""></div>-->
<!--              <h4>Walter White</h4>-->
<!--              <span>Chief Executive Officer</span>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-3">-->
<!--            <div class="member">-->
<!--              <div class="pic"><img src="assets/img/team/team-2.jpg" alt=""></div>-->
<!--              <h4>Sarah Jhinson</h4>-->
<!--              <span>Product Manager</span>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-3">-->
<!--            <div class="member">-->
<!--              <div class="pic"><img src="assets/img/team/team-3.jpg" alt=""></div>-->
<!--              <h4>William Anderson</h4>-->
<!--              <span>CTO</span>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-3">-->
<!--            <div class="member">-->
<!--              <div class="pic"><img src="assets/img/team/team-4.jpg" alt=""></div>-->
<!--              <h4>Amanda Jepson</h4>-->
<!--              <span>Accountant</span>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </section>&lt;!&ndash; End Team Section &ndash;&gt;-->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Contact Us</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">We will response in few hours</p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Center Street<br>Sofia, BG</p>
              </div>

              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Center Street<br>Plovdiv, BG</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>review.peer21@gmail.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+359 999 999 999</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div class="mx-auto">
  <footer id="footer">
    <div class="container">
      <div class="row">
<!--        <div class="col-md-12">-->
          <div class="copyright">
            &copy; Copyright <strong>Peer Review</strong>. All Rights Reserved
          </div>
          <div class="credits">
<!--            &lt;!&ndash;-->
<!--            All the links in the footer should remain intact.-->
<!--            You can delete the links only if you purchased the pro version.-->
<!--            Licensing information: https://bootstrapmade.com/license/-->
<!--            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial-->
<!--          &ndash;&gt;-->
<!--            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
          </div>
        </div>
      </div>
<!--    </div>-->
  </footer><!-- End Footer -->
  </div>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>