<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Peer Review</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicons -->
    <link href="../../../assets/img/favicon.png" rel="icon">
    <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <!--    <link href="../../assets/css/style.css" rel="stylesheet">-->

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap 5 -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../../../assets/css/custom.css"/>

    <title>Work Items</title>
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="header.html :: header"></div>
<!-- End Header -->

<div class="container-fluid px-0">

    <section class="inner-page">
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div th:if="${#httpServletRequest.requestURI} != '/peerreview/items/drafts' ">
                    <div th:if="${#httpServletRequest.requestURI} != '/peerreview/items/user/forReview' ">
                        <div th:if="${#httpServletRequest.requestURI} != '/peerreview/items/user/pending' ">
                            <div th:replace="search-item :: item-search"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" th:each="item :${items}">
                    <div class="card bg-dark h-100">
                        <!-- Product image-->
                        <img class="card-img-top" style="width: auto; height: 200px;"
                             th:src="${'../../assets/img/logo.png' ne null} ? ${'../../../assets/img/logo.png'}"
                             alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">
                                    <div th:if="${item.getTeam() != null}">
                                        <a class="link-primary" th:text=" ${item.getTitle()}"
                                           th:href="@{/peerreview/{teamId}/items/{id}(id=${item.getId()}, teamId=${item.getTeam() != null} ? ${item.getTeam().getId()} : '-1')}"></a>
                                    </div>
                                    <div th:if="${item.getTeam() == null}">
                                        <a class="link-primary" th:text="${item.getTitle()}"
                                           th:href="@{/peerreview/items/draft={id}(id=${item.getId()})}"></a></div>
                                </h5>
                                <!-- Product style-->
                                <h6 class="fw-bolder" th:text="${item.getStatus().name}">Status </h6>
                                <h6 class="fw-bolder" th:text="${item.getCreator().getUsername()} ">Creator </h6>
                                <h6 class="fw-bolder"
                                    th:text="${#temporals.format(item.getDateTime(), 'dd-MM-yyyy HH:mm')}">
                                    Creator </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</section>
</section>
</div>
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>

<!-- Light Switch -->
<script src="../../../assets/js/switch.js"></script>


<!-- Vendor JS Files -->
<script src="../../../assets/vendor/aos/aos.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../../assets/vendor/typed.js/typed.min.js"></script>

<!-- Template Main JS File -->
<script src="../../../assets/js/main.js"></script>

</body>

</html>
