<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Form Fragment</title>
</head>
<body>
<form th:fragment="item-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${dto}" method="POST">

    <div class="mx-auto" style="width: 50%">
    <div class="card bg-dark">
        <div class="card-body">
            <h2 class="card-title">
                <label for="title" class="sr-only">Title</label>
                <input type="text" id="title" name="title" class="form-control" th:field="*{title}"
                       placeholder="Title" required="" autofocus="">
                <label class="error" th:errors="*{description}">Username error placeholder</label>
            </h2>
        </div>
    </div>
    <div class="card bg-dark">
        <div class="card-body">
            <h2 class="card-title">
                <label for="description" class="sr-only">Description</label>
                <textarea type="text" id="description" name="description" rows="4" class="form-control"
                          th:field="*{description}"
                          placeholder="Description" required=""></textarea>
                <label class="error" th:errors="*{description}">Username error placeholder</label>
            </h2>
        </div>
    </div>
    <div class="card bg-dark">
        <div class="card-body">
            <h2 class="card-title">
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-outline-success" th:text="Create">Button</button>
                </div>
            </h2>
        </div>
    </div>
    </div>
</form>
</body>
</html>
