<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Form Fragment</title>
</head>
<body>
<form th:fragment="item-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${workItemDto}"
      method="POST">

    <div class="mx-auto" style="width: 50%">
        <div class="card bg-dark">
            <div class="card-body">
                <h2 class="card-title" style="text-align: center">
                    <label for="title" class="sr-only">Title</label>
                    <input type="text" id="title" name="title" class="form-control" th:field="*{title}"
                           placeholder="Title" required="" autofocus="">
                    <p>
                        <label class="error" th:errors="*{description}">Username error placeholder</label>
                    </p>
                </h2>
            </div>
        </div>
        <div class="card bg-dark">
            <div class="card-body">
                <h2 class="card-title" style="text-align: center">
                    <label for="description" class="sr-only">Description</label>
                    <textarea type="text" id="description" name="description" rows="4" class="form-control"
                              th:field="*{description}"
                              placeholder="Description" required=""></textarea>
                </h2>
            </div>
        </div>
        <div class="card bg-dark" th:each="i: ${#numbers.sequence(0, (minimumReviewers - 1))}">
            <div class="card-body">
                <h2 class="card-title" style="text-align: center">
                    <div class="input-group mb-3 col-6 float-left">
                        <select class="form-select"
                                aria-label="Default select example" th:field="*{reviewers}" required="">
                            <option selected th:value="-1">Reviewer</option>
                            <option th:each="reviewer : ${reviewers}"
                                    th:text="${reviewer.username}"
                                    th:value="${reviewer.username}">
                                Reviewer
                            </option>

                        </select>
                        <!--                    <button type="submit" class="btn btn-outline-success">Add Reviewer</button>-->
                        <p>
                            <label class="error" th:errors="*{reviewers}">Username error placeholder</label>
                        </p>
                    </div>
                </h2>
            </div>
        </div>
        <div class="card bg-dark">
            <div class="card-body">
                <h2 class="card-title">
                    <div class="align-self-center mx-auto" style="text-align: center">
                        <button type="submit" class="btn btn-outline-success" th:text="Create">Button</button>
                    </div>
                </h2>
            </div>
        </div>
    </div>
</form>
</body>
</html>
