<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign up</title>
    <!-- Vendor CSS Files -->
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

<section class="vh-100 bg-image"
         style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Log In</h2>

                            <form th:action="@{/auth/login}" th:object="${login}" method="post">
                                <div class="form-outline mb-4">
                                    <input type="text" id="username" class="form-control form-control-lg" th:field="*{username}"/>
                                    <label class="username" for="username">Your Username</label>
                                    <label class="error" th:errors="*{username}">Password error placeholder</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="password" class="form-control form-control-lg" th:field="*{password}"/>
                                    <label class="password" for="password">Your Password</label>
                                    <label class="error" th:errors="*{password}">Password error placeholder</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Forgot Password? <a th:href="@{/auth/forgotPassword}"
                                                                                                        class="fw-bold text-body"><u>Forgot Password</u></a></p>
                                </br>
                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a th:href="@{/auth/register}"
                                                                                                        class="fw-bold text-body"><u>Sign up here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
