<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--        <meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

<div th:replace="header.html :: header"></div>
<div class="container-fluid px-0">
    <section id="services">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img th:src="@{${user.photosImagePath}}" style="width: 100px" alt="Profile" class="rounded-circle">
                        <h2><label th:text="${user.username}"> </label></h2>
                        <h3><label th:text="${user.email}"> </label>r</h3>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    Overview
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                    Profile
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">


                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label" th:text="#{user.label.username}">Username</div>
                                    <div class="col-lg-9 col-md-8" th:text="${user.getUsername()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label" th:text="#{user.label.email}">Email</div>
                                    <div class="col-lg-9 col-md-8" th:text="${user.getEmail()}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label" th:text="#{user.label.phone.number}">Phone Number</div>
                                    <div class="col-lg-9 col-md-8" th:text="${user.getPhoneNumber()}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label" th:text="#{user.label.myItems}">Number of my working items</div>
                                    <div class="col-lg-9 col-md-8" th:text="${allItems.size()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label" th:text="#{user.label.reviewer}">Country</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userCount.size()}">USA</div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit" >

                                <!-- Profile Edit Form -->
                                <form th:action="@{/users/profile}" th:object="${profile}" method="post" enctype="multipart/form-data" >
                                    <div class="row mb-3">
                                        <label for="profile-edit" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <!--                                            <img src="assets/img/profile-img.jpg" alt="Profile">-->

                                            <input class="btn btn-primary btn-sm"  type="file" th:name="file" accept="image/*"/>
                                            <div class="pt-2">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="username" class="col-md-4 col-lg-3 col-form-label">Username</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="username" type="text" class="form-control" id="username"
                                                   th:field="*{username}" value="">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="text" class="form-control" id="email"
                                                   th:field="*{email}" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="phoneNumber" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phoneNumber" type="text" class="form-control" id="phoneNumber"
                                                   th:field="*{phoneNumber}" >
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control" th:field="*{currentPassword}"
                                                   id="currentPassword" required="">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" th:field="*{password}"
                                                   id="newPassword" required="">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" th:field="*{confirmPassword}"
                                                   id="renewPassword" required="">
                                        </div>
                                    </div>


                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="assets/vendor/chart.js/chart.min.js"></script>-->
<!--<script src="assets/vendor/echarts/echarts.min.js"></script>-->
<script src="../../assets/vendor/quill/quill.min.js"></script>
<script src="../../assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="../assets/vendor/tinymce/tinymce.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>
<script type="text/javascript">
    // $(document.ready(function (){
    //     $('#fileImage').change(function (){
    //         showImageThumbnail(this);
    //     });
    // }));

    function showImageThumbnail(fileInput){
        var file = fileInput.files[0];
        var reader = new FileReader();

        reader.onload = function (e){
            $('#thumbnail').attr('src',e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>

</body>
</html>
