<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Form Fragment</title>
</head>
<body>
<form class="margin-top col-12 " th:fragment="item-search" action="#"
      th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${searchItemDto}" method="POST">

    <div class="input-group mb-3 col-6 float-left">
                <input type="text" class="form-control-sm" id="title" placeholder="Title" th:field="*{title}">
                <label class="error" th:errors="*{title}">Name error placeholder</label>

                <input type="text" class="form-control-sm" id="creator" placeholder="Creator" th:field="*{creator}">
                <label class="error" th:errors="*{creator}">Name error placeholder</label>

                <input type="text" class="form-control-sm" id="reviewer" placeholder="Reviewer" th:field="*{reviewer}">
                <label class="error" th:errors="*{reviewer}">Name error placeholder</label>

                <input list="statusList" class="form-control-sm" id="status" name="status" placeholder="Status"
                       th:field="*{status}">
                <datalist id="statusList">
                    <option th:each="statusEach : ${statuses}"
                            th:value="${statusEach.getName()}"
                            th:text="${statusEach.getName()}">
                </datalist>
                <label class="error" th:errors="*{status}">Name error placeholder</label>

            <select class="form-select" aria-label="Default select example" th:field="*{sortParams}">
                <option th:each="sortParam : ${sortParams}"
                        th:text="${sortParam.toString()}"
                        th:value="${sortParam.toString()}">
                </option>
            </select>

            <button type="submit" class="btn btn-outline-success"> Search</button>
    </div>

</form>
</body>
</html>
