<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Peer Review</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicons -->
    <link href="../../../assets/img/favicon.png" rel="icon">
    <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <!--    <link href="../../assets/css/style.css" rel="stylesheet">-->

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap 5 -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../../../assets/css/custom.css"/>

    <title>Create WorkItem</title>
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="header.html :: header"></div>
<!-- End Header -->

<div class="container-fluid px-0">

    <section id="services">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-md-12">
                    <h3 class="section-title">Your Peer Place</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">Here You can work in safety place. Enjoy!</p>
                </div>
            </div>
            <div class="container mt-3" >
                <div class="row">
                    <div class="col-md-3" th:each="member : ${teamMembers}">
                        <div class="bg-white p-3 text-center rounded box">
                            <img th:src="@{${member.photosImagePath}}" class="img-responsive rounded-circle" src="https://i.imgur.com/uppKNuF.jpg" width="90">
                            <h5 class="mt-3 name" th:text="${member.getUsername()}">Member Username</h5>
                            <span class="work d-block" th:text="${member.getEmail()}"></span>
                            <div class="btn-group">
<!--                                <a th:href="@{/teams/deleteMember={memberId}(memberId=${member.getId()})}" class="btn btn-primary active">-->
<!--                                    <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Update Member-->
<!--                                </a>-->
                                <a th:href="${teamId} +'/deleteMember=' + ${member.getId()}" class="btn btn-primary active">
                                    <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Delete Member
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->



</div>


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>

<!-- Light Switch -->
<script src="../../../assets/js/switch.js"></script>


<!-- Vendor JS Files -->
<script src="../../../assets/vendor/aos/aos.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../../assets/vendor/typed.js/typed.min.js"></script>

<!-- Template Main JS File -->
<script src="../../../assets/js/main.js"></script>

</body>

</html>
